@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}



select.form-control[size], select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  height: 200px !important;
  
}


.place_registerForm h4 {
  font-weight: 600;
}

.placename,
.placeaddress,
.placephone,
.placeinfo,
.placeintro,
.openhour {
  margin-bottom : 40px;
}

.placename {
  margin-top: 40px;
}

.placenum h4 {
  margin-right : 40px;
}

.placenum input[type="radio"] {
  margin-right: 20px;
}

.placenum input[type="radio"]+label {
  margin-right: 40px;
}

.placeinfo span,
.openhour span {
  color : rgb(7, 20, 206);
}

.register_btn {
  margin-bottom: 30px;
  float: right;
}

