<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.BoardDao">



    <!-- 게시판 전체 리스트 출력  -->
    <select id="getBoardList" resultType="com.project.gymcarry.board.BoardDto">
		<![CDATA[
        select *,
		(SELECT count(*) FROM boardcomment comment WHERE comment.postidx = board.postidx) AS commentCnt,
		(Select memphoto from gymcarry.member m where m.memidx = board.memidx) as memphoto,
		(SELECT count(*) FROM bbslike WHERE bbslike.postidx = board.postidx) AS likeCnt
        from board
        order by postidx desc, postdate desc
        LIMIT #{startList}, #{listSize}
		]]>
    </select>

	<!-- 게시판 소통 리스트 출력  -->
	<select id="getBoardComm" resultType="com.project.gymcarry.board.BoardDto">
		<![CDATA[
		select *,
		(SELECT count(*) FROM boardcomment comment WHERE comment.postidx = board.postidx) AS commentCnt,
		(Select memphoto from gymcarry.member m where m.memidx = board.memidx) as memphoto,
		(SELECT count(*) FROM bbslike WHERE bbslike.postidx = board.postidx) AS likeCnt
		from board
		where boardcategory = '소통'
		order by postidx desc, postdate desc
			LIMIT #{startList}, #{listSize}
		]]>
	</select>

	<!-- 게시판 질문/답변 리스트 출력  -->
	<select id="getBoardQnA" resultType="com.project.gymcarry.board.BoardDto">
		<![CDATA[
		select *,
	    (SELECT count(*) FROM boardcomment comment WHERE comment.postidx = board.postidx) AS commentCnt,
		(Select memphoto from gymcarry.member m where m.memidx = board.memidx) as memphoto,
		(SELECT count(*) FROM bbslike WHERE bbslike.postidx = board.postidx) AS likeCnt
		from board
		where boardcategory = '질문/답변'
		order by postidx desc, postdate desc
			LIMIT #{startList}, #{listSize}
		]]>
	</select>

    <!-- 페이징 : 전체 리스트 개수 읽어오기  -->
    <select id="getBoardListCnt" resultType="int">
        select count(*) as listCnt
        from board
    </select>

	<!-- 페이징 : 소통 리스트 개수 읽어오기  -->
	<select id="getBoardCommCnt" resultType="int">
		select count(*) as listCnt
		from board
		where boardcategory = '소통'
	</select>

	<!-- 페이징 : 질문/답변 리스트 개수 읽어오기  -->
	<select id="getBoardQnAtCnt" resultType="int">
		select count(*) as listCnt
		from board
		where boardcategory = '질문/답변'
	</select>

    <!-- 조회수  -->
    <update id="updateViewCnt" parameterType="com.project.gymcarry.board.BoardDto">
        UPDATE board SET
            postview = postview + 1
        WHERE
            postidx = #{postidx}
    </update>
	
	
	<!-- 글쓰기 -->
	<insert id="insertBoardWrite"
	parameterType="java.util.HashMap"
	useGeneratedKeys="true"
	keyProperty="postidx">
		insert into board (postname, postcontent, postnick, memidx, boardcategory)
		values (#{postname}, #{postcontent}, #{postnick}, #{memidx}, #{boardcategory})
	</insert>
	
	
	<!-- 게시글 상세 페이지 -->
	<select id="selectBoardDetail" resultType="com.project.gymcarry.board.BoardDto">
		select *, (select memphoto from member m where board.memidx = m.memidx) as memphoto
		from board where postidx = #{postidx}
	</select>
	
	
	<!-- 게시물 수정시 입력된 값 그대로 출력 -->
	<select id="selectBoardUpdate"
	resultType="com.project.gymcarry.board.BoardWriteDto">
		select * from board where postidx = #{postidx}
	</select>
	
	
	<!-- 게시물 수정 -->
	<update id="updateBoardContent"
	parameterType="java.util.HashMap"
	useGeneratedKeys="true"
	keyProperty="postidx">
		update board 
		set postname = #{postname}, postcontent = #{postcontent}, boardcategory = #{boardcategory} 
		where postidx = #{postidx};
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteBoard">
		delete from board where postidx = #{postidx};
	</delete>

	<!-- 좋아요 여부 -->
	<select id="selectBoardLike" resultType="com.project.gymcarry.board.BoardLikeDto">
		select * from bbslike where postidx = #{postidx} and memidx = #{memidx}
	</select>

	<!-- 게시물 좋아요 on -->
	<insert id="insertBoardLike"
			parameterType="java.util.HashMap"
			useGeneratedKeys="true"
			keyProperty="idx">
		insert into bbslike (postidx, memidx) values (#{postidx},#{memidx})
	</insert>


	<!-- 게시물 좋아요 off -->
	<delete id="deleteBoardLike">
		delete from bbslike where postidx = #{postidx} and memidx = #{memidx};
	</delete>

	<!-- 게시물 좋아요 총 갯수 -->
	<select id="selectBoardLikeLength" resultType="com.project.gymcarry.board.BoardLikeDto">
		select * from bbslike where postidx = #{postidx};
	</select>
	


</mapper>