<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.CarryMyPageDao">

    <!-- 캐리 정보 수정  -->
    <update id="updateCarryModify"
            parameterType="com.project.gymcarry.carry.CarryInfoDto">
        update carry
        set
            crintro = #{crintro}, crfield = #{crfield}, crplace = #{crplace}, crdepart = #{crdepart}, crbfphoto = #{crbfphoto}, placeidx = #{placeidx}
        where
            cridx = #{cridx}
    </update>

    <!-- 캐리 자격 및 경력 [입력 or 수정]-->
    <insert id="upsetCarryCerti" parameterType="com.project.gymcarry.carry.CarryCertiDto">
        insert into crcertification
            (cridx, crcerti1, crcerti2, crcerti3 , crcerti4 , crcerti5)
        values
            (#{cridx}, #{crcerti1}, #{crcerti2}, #{crcerti3}, #{crcerti4} , #{crcerti5})
            on duplicate key update crcerti1=#{crcerti1}, crcerti2=#{crcerti2}, crcerti3=#{crcerti3}, crcerti4=#{crcerti4} , crcerti5=#{crcerti5}
    </insert>

	<select id="selectCarryPrice" resultType="com.project.gymcarry.carry.CarryPriceDto">
		select * from crprice where cridx = #{cridx} order by procount
	</select>


		<!-- 캐리 가격 정보 유무 체크 -->
		 <select id="checkCarryPrice" resultType="int">
			select COUNT(*) from crprice where cridx = #{cridx}
		 </select>
		 
		 <!-- 캐리 가격 최초 insert -->
		<insert id="insertCarryPrice" parameterType="com.project.gymcarry.carry.CarryPriceDto">
		 insert into crprice 
		 	(cridx, procount, proprice)
		 values
		 	(#{param5}, 1, #{param1}),
		 	(#{param5}, 5, #{param2}),
		 	(#{param5}, 10, #{param3}),
		 	(#{param5}, 20, #{param4})
		</insert>
		
		
		 <!-- 캐리 가격 수정 -->
		<update id="updateCarryPrice"
		        parameterType="com.project.gymcarry.carry.CarryPriceDto">
		    update crprice
		    set proprice =
		            case
		                when procount = 1 then #{param1}
		                when procount = 5 then #{param2}
		                when procount = 10 then #{param3}
		                when procount = 20 then #{param4}
		                end
		    where cridx = #{param5};
		</update>




    <!-- 캐리 기본 정보 수정에 필요한 데이터 값 출력 -->
   <select id="selectCarryBasicInfo" resultType="com.project.gymcarry.carry.CarryJoinDto">
      select * from carry where cridx = #{cridx}
   </select>
   
   <!-- 캐리 기본 정보 수정 -->
   <update id="updateCarryBasicInfo"
      parameterType="com.project.gymcarry.carry.CarryJoinDto"
   >
      update carry
      set 
      crpw = #{crpw}, crnick = #{crnick}, crphone = #{crphone}, crgender = #{crgender}, crphoto = #{crphoto}
      where cridx = #{cridx}
   </update>

   
   <!-- 캐리마이페이지 정보 출력 -->
   <select id="carryinfoview" resultType="com.project.gymcarry.carry.CarryJoinDto">
   		select crname, crnick, crphoto from carry where cridx = #{cridx}
   </select>
   
   <select id="myMemberList" resultType="com.project.gymcarry.carry.CarryMyMemberDto">
   		select 
   			(select memname from member where payment.memidx = memidx) as memname, 
   			(select memnick from member where payment.memidx = memidx) as memnick, 
   			count(memidx) as paycount, 
   			sum(PAYPRICE) as totalpay, 
   			max(paydate) as date
   		from payment 
   		where cridx = #{cridx} 
   		group by memidx 
   		having count(*) > 0;
   </select>
    
</mapper>